ruleset('test') {
    require(['value'])
    rule('quantity within range') {
        when {
            value < 1 || value > 10
        }
        then {
            failed = true
            message = ["invalid quantity"]
        }
        otherwise {
            failed = false
            message = []
        }
    }
    test(value: 0) {
        failed true
        message(["invalid quantity"])
    }
}

ruleset('checkRef') {
    require(['ref'])
    rule('should be able to reference map in ref')  {
        when {
            ref.value == 23
        }
        then {
            ref.yes = true
        }
        otherwise {
            ref.yes = false
        }
    }

    test(ref: [value: 23]) {
            yes true
    }
    test(ref: [value: 2]) {
        yes false
    }
}